body {
  font-family: helvetica, sans-serif;
  font-size: 200%;
}

input {
  padding: 5px 5px 10px 5px;
  font-size: 25px;
  border-radius: 5px;
  border: 1px solid grey;
  width: 320px;
}

label {
  width: 200px;
  top: 4px;
  float: left;
}

#wrapper {
  width: 500px;
  margin: 0 auto;
}

.form-element {
  margin-bottom: 10px;
}
