body {
  font-family: helvetica, sans-serif;
  font-size: 130%;
}

input {
  padding: 5px 5px 10px 5px;
  font-size: 25px;
  border-radius: 5px;
  border: 1px solid grey;
  width: 320px;
}

label {
  position: relative;
  width: 200px;
  top: 10px;
  float: left;
}

#wrapper {
  width: 700px;
  margin: 0 auto;
}

.form-element {
  margin-bottom: 10px;
}

.errors {
  color: red;
  font-weight: bold;
  font-size: 95%;
  padding-bottom: 15px;
}

#submit-button {
  width: 150px;
  margin-left: 200px;
}

#success {
  color: green;
  font-weight: bold;
  font-size: 95%;
  padding-top: 15px; 
}
